<section class="wrapper">
  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <img src="../assets/images/Logo.png" class="logo"/>
        <div class="div">
          <img src="../assets/images/Icon - notifications.png" class="notifications"/>
          <img src="../assets/images/profile img.png" class="profile"/>
  
        </div>
        
      </div>

    </nav>
    <!-- routing -->
    <router-outlet></router-outlet>
  </div>
</section>
